---
---

{% include_relative modules.css %}
{% include_relative grid.css %}
{% include_relative type.css %}
{% include_relative theme.css %}
{% pattern_css %}

.main-container {
  max-width: 90em;
  margin: auto;
  position: relative;
  top: 50%;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  padding: .5em .75em;
  position: absolute;
  top: -3em;
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

.batman {
  background-image: url("../images/batman.jpg");
}
