:root {
  --color-primary: #757575;
  --color-secondary: #FFED8F;
  --color-neutral: #FEFEBD;
  --color-accent: #E3B778;
  --color-neutral-grey: #DCDDDE;
  --color-primary-light: #A7D486;

  --font-primary: "darker grotesque", sans-serif;
  --font-secondary: "libre caslon display", serif;
}

html {
  font-family: var(--font-primary);
  font-weight: 300;
}

h1 {
  font-family: var(--font-secondary);
  font-weight: normal;
  font-size: 5rem;
}

h2 {
  font-family: var(--font-secondary);
  font-weight: 200;
  font-size: 2.5rem;
  color: var(--color-primary);
}

h3 {
  font-family: var(--font-primary);
  font-weight: 300;
  color: var(--color-primary);
}

h4 {
  font-family: var(--font-primary);
  font-weight: 300;
  color: var(--color-accent);
}

.icon-label {
  font-size: 0.8rem;
  color: var(--color-primary);
  font-weight: 300;
}
