.graphic {
  width: 11em;
}

.box {
  margin-top: 1.5em;
  text-align: left;
}

.graphic-box {
  text-align: center;
}

@media only screen and (min-width: 60em) {

  .box {
    text-align: right;
  }

  .graphic-box {
    text-align: right;
  }

}
