.image {
  animation: dissolve 1.5s 0.5s linear forwards;
  opacity: 0;
  height: 100%;
  object-fit: cover;
}

.content-box {
  max-width: 40em;
}

.title {
  animation: dissolve 1.5s 0.3s linear forwards;
  opacity: 0;
}

.title-2 {
  animation: dissolve 1.5s 0.4s linear forwards;
  opacity: 0;
}

.title-3 {
  animation: dissolve 1.5s 0.5s linear forwards;
  opacity: 0;
}

.img-box {
  height: 20em;
  background-image: url("../images/branding-mockup-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@keyframes dissolve {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.progress-box {
  background-color: var(--color-neutral-grey);
}

@media only screen and (min-width: 38em) {

  .img-box {
    height: 35em;
  }

}

@media only screen and (min-width: 25em) {



}

@media only screen and (min-width: 90em) {

  .title-box {
    max-width: 90em;
    margin: auto;
  }

}
