.image {
  animation: dissolve 1.5s 0.5s linear forwards;
  opacity: 0;
  height: 100%;
  object-fit: cover;
}

.content-box {
  max-width: 40em;
}

.title {
  animation: dissolve 1.5s 0.3s linear forwards;
  opacity: 0;
}

.title-2 {
  animation: dissolve 1.5s 0.4s linear forwards;
  opacity: 0;
}

.title-3 {
  animation: dissolve 1.5s 0.5s linear forwards;
  opacity: 0;
}

.img-box {
  height: 10em;
  overflow: visible;
}

@keyframes dissolve {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.title-container {
  padding-top: 2em;
}

.progress-box {
  background-color: var(--color-neutral-grey);
}


@media only screen and (min-width: 25em) {

  .img-box {
    height: 100%;
  }

}

@media only screen and (min-width: 38em) {



}


@media only screen and (min-width: 60em) {

  .title-container {
    padding-top: 0;
  }

  .img-box {
    height: 35em;
    overflow: hidden;
  }

}

@media only screen and (min-width: 90em) {

  .title-box {
    max-width: 90em;
    margin: auto;
  }

}
