<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Patricia Danochristos • Graphic Design Portfolio</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="ICBM" content="45.416667,-75.7">
  <meta name="description" content="A homepage to a graphic design portfolio designed entirely by Patricia Danochristos.">
  <meta name="geo.position" content="45.416667;-75.7">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_CA">
  <meta property="og:title" content="Patricia Danochristos • Graphic Design Portfolio">
  <meta property="og:url" content="http://pdano.ca">
  <meta property="og:site_name" content="Patricia Danochristos • Graphic Design Portfolio">
  <meta property="og:description" content="A homepage to a graphic design portfolio designed entirely by Patricia Danochristos.">
  <link href="/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/mxk0huy.css">
</head>
<body>
{{content}}
</body>
</html>
