<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.meta_title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="ICBM" content="45.416667,-75.7">
  <meta name="description" content="{{page.meta_description}}">
  <meta name="geo.position" content="45.416667;-75.7">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:image" content="file:///Users/patriciadanochristos/Dropbox/Documents%20&%20Other/Third%20Year/Semester%201/Web%20Dev/Week%204/portfolio/images/twitter-card.jpg">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_CA">
  <meta property="og:title" content="{{page.og_title}}">
  <meta property="og:url" content="http://pdano.ca">
  <meta property="og:site_name" content="{{page.site_name}}">
  <meta property="og:description" content="{{page.og_description}}">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" type="image/png" href="favicon-32.png">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque:300|Libre+Caslon+Display&display=swap" rel="stylesheet">
</head>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "@id": "#patriciadanochristos",
    "name": "Patricia Danochristos",
    "url": "https://pdano.ca",
    "email": "patricia@pdano.ca"
  }
</script>
<body>
{{content}}
</body>
</html>
