<div class="grid gri-middle text-center">
  <div class="unit xs-1 s-1 m-1 l-1 xl-1">
    <i class="icon i-128">
      <img class="logo img-flex" src="/images/{{include.logo}}" alt="">
    </i>
    <div class="push-1-2">
      <h1 class="tera push-0">{{include.myname}}</h1>
      <h3 class="mega push-1-2 pat-dan">{{include.credentials}}</h3>
      <div class="intro push-0">
        <p class="text-center push-1-2 mega">{{include.greeting}}</p>
        <p class="text-center milli text-left push">{{include.intro}}</p>
      </div>
    </div>
    <div class="links mega gutter pad-b">
      <ul class="text-center list-group push-0">
        <li class="push-1-2 {% if page.highlight_nav == 'about' %}current{% endif %}">
          <a href="{{include.url}}">About</a>
        </li>
        <li class="{% if page.highlight_nav == 'projects' %}current{% endif %}">
          <a href="{{include.url}}">Projects</a>
        </li>
      </ul>
    </div>
    <div class="links mega gutter pad-b">
      <p class="push-0">Other links</p>
      <ul class="push-1-2 list-group-inline text-center">
        <li class="push-r-1-4">
          <a href="https://dano0015.myportfolio.com">More Work</a>
        </li>
        <li class="dot push-r-1-4"> • </li>
        <li class="">
          <a href="mailto:patricia.danochristos@gmail.com">Email</a>
        </li>
      </ul>
    </div>
  </div>
</div>
