.pat-dan {
  color: var(--color-primary-light);
}

h1, p {
  color: var(--color-primary);
}

a {
  text-decoration: none;
  color: var(--color-accent);
  transition: color 300ms linear;
}

a:hover {
  color: var(--color-primary-light);
}

.dot {
  color: var(--color-accent);
}

.current {
  text-decoration: underline;
  color: var(--color-primary-light);
}

.link-1 {
  border-right: 1px solid var(--color-accent);
}

.link-2 {
  border-left: 1px solid var(--color-accent);
}

.link-prev h2, .link-prev p{
  transition: all 200ms ease;
}

.link-prev:hover h2 {
  transform: translateX(-1em);
}

.link-prev:hover p {
  transform: translateX(1em);
}

.link-next h2, .link-next p{
  transition: all 200ms ease;
}

.link-next:hover h2 {
  transform: translateX(1em);
}

.link-next:hover p {
  transform: translateX(-1em);
}

.logo-fixed {
  display: none;
}

@media only screen and (min-width: 60em) {

  .logo-fixed {
    position: fixed;
    top: 15px;
    right: 15px;
    display: inline;
  }

}
